einops
h5py
matplotlib
numpy==1.21.6
opencv_python
opencv_python_headless
#pandas
Pillow
plotly
pystackreg
pytorch_wavelets
PyYAML
scikit_learn
scipy
scikit-image
tabulate
tensorboardX
terminaltables
timm==1.0.15
