work_dir: experiments/hsi_dehaze/AVIRIS/inference/PUCCNet
sample_path: /media/mango/系统/6636数据/2/mk/DATASET/HSIDeD-AVI/valid/hazy/2_12_1_3.mat
gt_path: /media/mango/系统/6636数据/2/mk/DATASET/HSIDeD-AVI/valid/clean/2_12_1_3.mat
channel_indices: [36, 18, 7]
save_name: PUCCNet-AVIRIS-e90


num_bands: &num_bands 197       # 波段数 305 197 467

model:
  type: PUCCNet
  in_channels: *num_bands

checkpoint: experiments/hsi_dehaze/AVIRIS/comparison/PUCCNet/checkpoints/90.pth




